<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{{this.cryptid.name}}</h2>
    <p>{{content}}</p>
    <p>Sighted on: {{format_date createdAt}}</p>
    <div class="card-actions justify-end">
      <button class="btn bg-red-700">Delete</button>
    </div>
  </div>
</div>