<div class="container">
  <div class="navbar bg-base-100">
    <nav class="flex flex-wrap gap-2">
      {{#each alphabet}}
      <a href="/cryptid?letter={{this}}" class="btn library">{{this}}</a>

      {{/each}}
    </nav>
  </div>

  {{#each cryptids as |cryptid|}}
  {{>cryptid-card}}
  {{/each}}
</div>
{{!--
<script src="/js/library.js"></script> --}}