<div class="navbar bg-base-100">
  <ul class="flex space-x-4 ml-[20px]">
    <li class="btn">A</li>
    <li class="btn" id="b">B</li>
    <li class="btn ">C</li>
    <li class="btn ">D</li>
    <li class="btn ">E</li>
    <li class="btn ">F</li>
    <li class="btn ">G</li>
    <li class="btn ">H</li>
    <li class="btn ">I</li>
    <li class="btn ">J</li>
    <li class="btn ">K</li>
    <li class="btn ">L</li>
    <li class="btn ">M</li>
    <li class="btn ">N</li>
    <li class="btn ">O</li>
    <li class="btn ">P</li>
    <li class="btn ">Q</li>
    <li class="btn ">R</li>
    <li class="btn ">S</li>
    <li class="btn ">T</li>
    <li class="btn ">U</li>
    <li class="btn ">V</li>
    <li class="btn ">W</li>
    <li class="btn ">X</li>
    <li class="btn ">Y</li>
    <li class="btn ">Z</li>
  </ul>
</div>