

<div class="container w-full h-full flex flex-col items-center">

  <div id="map" class="w-full h-full">
 
  </div>

</div>

<input type="checkbox" id="success-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box bg-success">
    <p class="py-4 text-neutral">Successfully Logged in!!!</p>
    <div class="modal-action">
      <label for="success-modal" class="btn">Close</label>
    </div>
  </div>
</div> 

<script src="/js/map.js"></script>