<script
  loading="async"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc-2ugE0g_QtiT2knQxR_ECncC_oht638&loading=async"
>
</script>

<div class="container w-full h-full flex flex-col items-center">

  <div id="map" class="w-[500px] h-[500px] rounded-box">

  </div>

</div>

<script src="/js/new-sighting-map.js"></script>