<div class="container w-full h-full flex flex-rows justify-center items-center space-x-[350px]">

  <div id="map" class="w-[500px] h-[500px] rounded-box">
    
  </div>
  <div class="w-[200px] h-[200px] rounded-box">
    <select class="select select-bordered w-full max-w-xs">
      <option>Select The Sighted Cryptid</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <textarea
      placeholder="Description"
      class="textarea textarea-bordered textarea-md w-full max-w-xs"
    ></textarea>
    <button class="btn btn-primary">Upload Cryptid Image</button>
    <button class="btn btn-secondary">Save The Sighting</button>
  </div>
</div>

<script src="/js/new-sighting-map.js"></script>