

<div class="container w-full h-full flex flex-col items-center">

  <div id="map" class="w-[500px] h-[500px] rounded-box">

  </div>
  <button class="btn">Save the sighting</button>
  <select class="select select-bordered w-full max-w-xs">
  <option>Normal</option>
  <option>Normal Apple</option>
  <option>Normal Orange</option>
  <option>Normal Tomato</option>
</select>
<textarea placeholder="Bio" class="textarea textarea-bordered textarea-md w-full max-w-xs" ></textarea>

</div>
{{!-- <div>
  <select class="select select-bordered w-full max-w-xs">
  <option>Normal</option>
  <option>Normal Apple</option>
  <option>Normal Orange</option>
  <option>Normal Tomato</option>
</select>
<textarea placeholder="Bio" class="textarea textarea-bordered textarea-md w-full max-w-xs" ></textarea>
</div> --}}

<script src="/js/new-sighting-map.js"></script>