<script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript">
</script>
<div class="container w-full h-full flex flex-rows justify-center items-center space-x-[300px]">

  <div id="map" class="w-[500px] h-[500px] rounded-box">
    
  </div>
  <div class="w-[200px] h-[200px] rounded-box">
    <div class="space-y-[30px] mt-[-80px]">
      <select class="select select-bordered w-[250px]" id="cryptid-selector">
      <option>Select The Sighted Cryptid</option>
    </select>
    <textarea
      placeholder="Description"
      class="textarea textarea-bordered textarea-md w-[250px]"
      id="contentInput"
    ></textarea>
    <button class="btn btn-primary w-[250px]" id="upload-btn">Upload Cryptid Image</button>
    <button class="btn btn-secondary w-[250px]" id="save-btn">Save The Sighting</button>
    </div>
  </div>
  <div id="img-preview" class="flex flex-col justify-center align-middle">
      
  </div>
</div>

<script src="/js/new-sighting.js"></script>