
<button class="btn btn-primary" id="uploadBtn">New Sighting</button>

<div
  class="flex flex-col w-screen lg:flex-row md:flex-row sm:max-w-screen justify-center items-center"
>
  <div
    class="grid flex-grow w-[100%] h-[100%] mx-[30px] p-[20px] card bg-base-300 rounded-box place-items-center"
  >

    <button
      class="btn btn-outline btn-primary"
      onclick="cryptid_form_modal.showModal()"
    >Add a Cryptid</button>

    <div class="flex">
      <img src="https://placehold.co/350x450" alt="placeholder" />
    </div>
  </div>
  <div
    class="divider lg:divider-horizontal md:divider-horizontal sm:divider-horizontal"
  ></div>
  <div
    class="grid flex-grow w-[100%] h-[100%] mx-[30px] p-[20px] card bg-base-300 rounded-box place-items-center"
  >

    <button
      class="btn btn-outline btn-primary"
      onclick="sighting_form_modal.showModal()"
    >Create A sighting</button>
    <div class="flex">
      <img src="https://placehold.co/350x450" alt="placeholder" />
    </div>
  </div>
</div>

<!-- Create a cryptid modal -->
<dialog id="cryptid_form_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Create a Cryptid</h3>
    <form class="space-y-8 cryptid-create-form" id="cryptid-create-form">
      <label class="input input-bordered flex items-center gap-2">
        Cryptid name:
        <input type="text" class="grow" id="cryptid-name-create" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        Description:
        <input type="text" class="grow" id="cryptid-desc-create" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        Region of origin:
        <input type="text" class="grow" id="cryptid-region-create" />
      </label>

      <input type="submit" class="btn w-[20rem] cryptid-create-form" value="Create Cryptid" />
    </form>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<!-- Create a sighting modal -->
<dialog id="sighting_form_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">Create a Sighting</h3>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>


<script src="/js/profile.js"></script>
    <div class="flex">
      <img src="https://placehold.co/350x450" alt="placeholder" />
    </div>
  </div>
</div>

<script
  src="https://widget.cloudinary.com/v2.0/global/all.js"
  type="text/javascript"
>
</script>

<!-- local upload instantiation -->
<script src="/js/sighting-upload.js" type="text/javascript">
</script>

