<div class="flex flex-col w-screen lg:flex-row md:flex-row sm:max-w-screen justify-center items-center">
  <div class="grid flex-grow w-[100%] h-[100%] mx-[30px] p-[20px] card bg-base-300 rounded-box place-items-center">
    <div class="flex">
        <img src="https://placehold.co/350x450" alt="placeholder">
    </div>
  </div> 
  <div class="divider lg:divider-horizontal md:divider-horizontal sm:divider-horizontal"></div> 
  <div class="grid flex-grow w-[100%] h-[100%] mx-[30px] p-[20px] card bg-base-300 rounded-box place-items-center">
   <div class="flex">
        <img src="https://placehold.co/350x450" alt="placeholder">
    </div>
  </div>
</div>